### import libraries
use the following lines to import the packages that you need. If you remove the #, then they will be executable.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as spt

### path name:
find the path of the file in your computer. Remember that you need to add the name and the extension of the file at the end.
In wondowns add r to make sure that Python identifies this line as a path name.

In [2]:
pathName = r'C:\MyFiles\Dropbox\Teaching\Urban_Data_Analsysis\Fall 2020\Data\exam_scores.csv'

### read the file into a dataframe.
A dataframe is basically a table. using the following line, you can read a csv line and convert it to a dataframe.

In [3]:
df = pd.read_csv(pathName)

### you can read jason files from NYC's open data API. copy and paste the url.

In [4]:
# add the url here and read it as a dataframe
df = pd.read_json('https://data.cityofnewyork.us/resource/kku6-nxdu.json')

### see the list of all columns

In [5]:
df.columns

Index(['jurisdiction_name', 'count_participants', 'count_female',
       'percent_female', 'count_male', 'percent_male', 'count_gender_unknown',
       'percent_gender_unknown', 'count_gender_total', 'percent_gender_total',
       'count_pacific_islander', 'percent_pacific_islander',
       'count_hispanic_latino', 'percent_hispanic_latino',
       'count_american_indian', 'percent_american_indian',
       'count_asian_non_hispanic', 'percent_asian_non_hispanic',
       'count_white_non_hispanic', 'percent_white_non_hispanic',
       'count_black_non_hispanic', 'percent_black_non_hispanic',
       'count_other_ethnicity', 'percent_other_ethnicity',
       'count_ethnicity_unknown', 'percent_ethnicity_unknown',
       'count_ethnicity_total', 'percent_ethnicity_total',
       'count_permanent_resident_alien', 'percent_permanent_resident_alien',
       'count_us_citizen', 'percent_us_citizen', 'count_other_citizen_status',
       'percent_other_citizen_status', 'count_citizen_status_unknown',
       'percent_citizen_status_unknown', 'count_citizen_status_total',
       'percent_citizen_status_total', 'count_receives_public_assistance',
       'percent_receives_public_assistance',
       'count_nreceives_public_assistance',
       'percent_nreceives_public_assistance',
       'count_public_assistance_unknown', 'percent_public_assistance_unknown',
       'count_public_assistance_total', 'percent_public_assistance_total'],
      dtype='object')

### get a column of a dataframe
Read the column and and name it as a new variable. the name of the column should be in single qoutation 'col'

In [6]:
col = df['col_1']

KeyError: 'col_1'

### histogram
you can use plt to plot a histogram. plt.hist() needs at leas the x axis as an argument. 
Use "bins ="  to specify the number of bins (bars).

In [ ]:
plt.hist(col,bins=8);

### some measures of a column
mean, standard deviation, max, min, median, and sum.

In [ ]:
col.mean()
col.std()
col.max()
col.min()
col.sum()
col.median()

### scatter plots
They need two columns that will be passed as two arguments. one for the x axis and one for the y axis. 
Use "alpha = " with a number between 0 and 1 to increase the transparency of the markers.
Use "c= 'red'" to add colors. 
Use "s = " to set the size of markers.
Use "marker = " to set the shape of markers. Check the doumentation for more detials. 
plt.scatter? will give you more details.

In [ ]:
plt.scatter?

In [ ]:
plt.scatter(col1,col2,alpha=0.5,s=200,c ='red',marker='^')

### Correlation Coefficient
There are multiple ways to get the correlation of two cols

In [ ]:
# numpy has this easy function. However, you need to filter out all the nan values before. 
np.corrcoef(col1,col2)

In [ ]:
# Scipy's way; This will also give you the P value.
spt.pearsonr(col1,col2)

In [ ]:
# pandas' way; this will create a matrix of all columns. You may want to get a subset of columns only.
df.corr()

In [ ]:
# to get a subset of columns only
new_df = df[['col1','col2','col3']]
# now get the correlation matrix for this new dataframe
new_df.corr()

### Filtering a dataframe or getting a subset

In [ ]:
# to get a subset of a dataframe using a numerical variable
# df[condition]
df_sub_1 = df[df['col1']> aNumber]

In [ ]:
# to get a subset of a dataframe using a categorical variable. you need to specify the name of cateogry in the line after ==
df_sub_2 = df[df['col2']=='category value']

In [ ]:
# to have multiple conditions use & for AND and | for OR. Do not foroget to use ()s to separate the conditions
# df[(condition_11)&(condition_2)]
df_sub_3 = df[(df['col2']=='category value')&(df['col1']> aNumber)]

### get the unique values of a column; very helpful for categorical variables

In [ ]:
df['col1'].unique()

### Get the quantile of a column. 0.4 means 40%. 0.5 means 50%.

In [ ]:
df['col1'].quantile(0.4)

### group by in pandas
there are multiple ways to handle groupby (consolidating or summarizing) tables in pandas.
for more information check this out: https://www.geeksforgeeks.org/pandas-groupby/

In [ ]:
# for groupby you need to have a categorical column that will define the groups to be consiolidated.
# you can use different types of summary to summarize other variables for each group (sum(), mean(), median(), min(), max(), quantile(q),std())
df.groupby(by=['categorical_column1']).quantile(0.3)

In [ ]:
# you can groupby using one, two, or more categorical variables
df.groupby(by=['categorical_column1','categorical_column2']).median()

In [ ]:
# this syntax will help you to get groupby for multiple summary types. Note that in this case, you cannot get quantiles.
# the output can be saved in a new dataframe.
grp = df.groupby('categorical_column1')
grp['numerical_column'].agg([np.median, np.mean, np.std])
# dfGroupExample = grp['numerical_column'].agg([np.median, np.mean, np.std])

# Python basics

#### Operations

In [7]:
3 + 5 * 4

23

In [8]:
(3+5) * 4

32

In [9]:
# Raise 2 to the power of 4
2 ** 4

16

In [12]:
# The 3rd root of 27
27 ** (0.5)

5.196152422706632

In [13]:
22/6

3.6666666666666665

In [14]:
22 // 6

3

In [15]:
22 % 6

4

In [ ]:
(4 - 2) * ((6 + 3) / (4 - 1))

#### Assigning

In [16]:
x = 1

In [17]:
x

1

In [20]:
y = x + 1

In [22]:
y

2

In [38]:
x == 1

True

In [26]:
print ('hello', ' ', x, 'people')

hello   1 people

In [39]:
x

1

In [60]:
#  Assign the value of x + 1 to x
x += 1
x = x + 1

74

In [43]:
x

3

In [61]:
print (1+2)

3

#### Lists

In [63]:
myList = [1,2,2,2,4,6,10,10,12,15,18,20]

In [64]:
myList

[1, 2, 2, 2, 4, 6, 10, 10, 12, 15, 18, 20]

In [65]:
# return the fist value of a list
myList[0]

1

In [66]:
myList[6]

10

In [67]:
# return the last value of a list
myList[-1]

20

In [69]:
# Return a slice (list) of a list
myList[3:7]

[2, 4, 6, 10]

In [70]:
# length of a list
len(myList)

12

In [71]:
# sum of a list
sum(myList)

102

In [75]:
# append an item to a list
myList.append(5)

In [78]:
myList.sort()

In [79]:
myList

[1, 2, 2, 2, 4, 5, 6, 10, 10, 12, 15, 18, 20, 22]

#### Dictionaries

In [80]:
sampleD = {'NY': 'New York','CO':'Colorado','AZ':'Arizona','CA':'California'}

In [83]:
sampleD['AZ']

'Arizona'

In [86]:
sampleD2 = {1:'Rose',5:'Lavender',2:'Daffodil',10:'Lily'}

In [87]:
sampleD2[2]

'Daffodil'

In [92]:
sampleD2.values()

dict_values(['Rose', 'Lavender', 'Daffodil', 'Lily'])

In [89]:
sampleD2.keys()

dict_keys([1, 5, 2, 10])

In [90]:
sampleD2.items()

dict_items([(1, 'Rose'), (5, 'Lavender'), (2, 'Daffodil'), (10, 'Lily')])

#### some general things

In [93]:
print('hello')

hello

In [94]:
print(x)

74

In [95]:
print(myList)

[1, 2, 2, 2, 4, 5, 6, 10, 10, 12, 15, 18, 20, 22]

In [96]:
type(x)

int

In [97]:
type(myList)

list

In [98]:
type(sampleD2)

dict

#### Strings

In [99]:
s = 'this is a sample line'

In [100]:
s [5]

'i'

In [101]:
len(s)

21

In [102]:
s [5:10]

'is a '

In [103]:
s.find('s')

3

In [104]:
s.find('sa')

10

In [105]:
s.replace("sample","example")

'this is a example line'

In [108]:
s.isupper()

False

#### for loops

In [109]:
for item in [10,20,30,40]:
    print (item)

10
20
30
40

In [113]:
myList

[1, 2, 2, 2, 4, 5, 6, 10, 10, 12, 15, 18, 20, 22]

In [115]:
for i in range(0,len(myList)):
    print(myList[i])

1
2
2
2
4
5
6
10
10
12
15
18
20
22

In [116]:
firstNames = ['Mehdi','Andrew','Rachel','Lori','Charlie','Mike']
lastNames  = ['Heris','','','','','']

In [119]:
for i in range(0,len(firstNames)):
    print (firstNames[i])

Mehdi here is the last name
Andrew here is the last name
Rachel here is the last name
Lori here is the last name
Charlie here is the last name
Mike here is the last name

In [ ]:
for i in range(0,len(firstNames)):
    print (firstNames[i])

In [ ]:
a = 'Mehdi'
b = 'Heris'

In [ ]:
a + ' ' + b

In [ ]:
if a == 'Mehdi':
    print ('Bingoooooooo')

In [ ]:
for item in [10,20,30,40,60,70,80]:
    if item > 50:
        print (item)

In [29]:
a = 2

In [34]:
a

2

In [35]:
b =7

In [36]:
b

7

In [37]:
if a == (b-5):
    print('yay')
else:
    print('sorry')

yay

In [ ]:
b